* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

/* body {
    position: relative;
} */

html::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    background-color: #2A2826;
}

.thumbnail p {
    position: relative;
    font-size: 50px;
    left: 385px;
    top: -625px;
    width: 545px;
    height: 120px;
    font-family: inter;
    color: aliceblue;

}

.pattern {
    position: absolute;
    top: 0px;
    /* left: 200px; */
    min-height: 130%;
    min-width: 100%;
    background-image: url("../images/pattern.png");
    opacity: 25%;
    /* border: 2px solid black; */
}

.thumbnail span {
    color: #54C936;
}

.thumbnail img {
    position: relative;
    object-fit: contain;
    left: 475px;
    /* left: -710px;/
    top: -200px; */
}

.main {
    height: 500px;
}



.socials-group {
    position: fixed;
    bottom: 0px;
    left: 80px;

    display: flex;
    flex-direction: column;
    max-width: 32px;
    height: 315px;

}

.socials-group img {
    padding-bottom: 23px;
    max-width: 32px;
}

#vertical-line {
    height: 150px;
    width: 0px;
    margin: auto;
    border: 1px solid aliceblue;
}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px]*/
    .thumbnail img {
        position: relative;
        /* object-fit:contain; */
        left: -750px;
        top: -200px;
    }

    .socials-group {
        top: -85px;
        transform: rotate(90deg);

    }

    .socials-group img {
        /* top: 30px; */
        transform: rotate(270deg);
        max-width: 32px;
        max-height: 32px;

    }

    #vertical-line {
        margin: 4px;
    }

    .thumbnail p {
        width: 300px;
        height: 70px;
        left: 80px;
        font-size: 25px;
        top: -775px;
    }

}