* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    margin: 0;
    overflow-x: hidden;
}

/* body {
    position: relative;
} */

html::-webkit-scrollbar {
    display: none;
}

.thumbnail {
    background-color: #2A2826;
    height: 100vh;
}

.thumbnail p {
    position: relative;
    /* font-size: 50px; */
    width: 545px;
    height: 120px;
    font-family: inter;
    color: aliceblue;

}

.pattern {
    position: absolute;
    top: 0px;
    /* left: 200px; */
    min-height: 100vh;
    min-width: 100%;
    background-image: url("../images/pattern.png");
    opacity: 25%;
    /* border: 2px solid black; */
}

.thumbnail span {
    color: #54C936;
}

.thumbnail-main {
    background-image: url("../images/bg2.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    /* margin: auto; */
    display: flex;
    width: 30vw;
    height: 30vw;
    align-self: center;

    /* padding-top: ; */
    /* margin-top: 25vh; */
}

.main {
    /* height: 500px; */
}

.socials-group {
    position: fixed;
    bottom: 0px;
    left: 80px;

    display: flex;
    flex-direction: column;
    max-width: 32px;
    height: 315px;

}

.socials-group img {
    padding-bottom: 23px;
    max-width: 32px;
}

#vertical-line {
    height: 150px;
    width: 0px;
    margin: auto;
    border: 1px solid aliceblue;
}

.panel {
    background-color: #ffffff;
    height: 600px;
    width: 100%;
    margin: 0px;

    display: flex;
    direction: row;
    justify-content: center;

}

.panel img {
    width: 65%; 
    border-radius:  7px;
    filter: drop-shadow(16px 16px 10px rgb(100, 100, 100));
}

.panel-section {
    width: 50%;
    height: 100%;

    font-family: inter;

    display: flex;
    flex-direction: column;
    font-size: 1rem;
    align-items: center;
    justify-content: center;
}

.panel-section p {
    /* width: 80ch; */
    margin-top: 1rem;
    font-size: 1.2rem;
}

#webText, #chat, #cartoons {
    width: 800px; 
}

@media only screen and (min-width:600px){
    .thumbnail-main {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);

        right: 8%;
    }

    .thumbnail p {
        align-self: center;
        left: -150%;
        font-size: 3rem;
    }

    
}

@media only screen and (max-width: 600px) {

    /*Big smartphones [426px -> 600px] how it looks on phone*/
    .thumbnail-main {
        position: relative;
        top: 25vh;
        width: 100%;
        height: 100vw;
        align-items: center;

    }

    .socials-group {
        top: -85px;
        transform: rotate(90deg);

    }

    .socials-group img {
        /* top: 30px; */
        transform: rotate(270deg);
        max-width: 32px;
        max-height: 32px;

    }

    #vertical-line {
        margin: 4px;
    }

    .thumbnail p {
        width: fit-content;
        height: 70px;
        /* left: 80px; */
        font-size: 25px;
        margin: auto;

    }

    .panel {
        flex-direction: column;
        /* height: fit-content; */
        height: auto;
        padding: 2rem 0;
    }

    #cartoons, #webText, #chat {
        max-height: 100%;
        display: flex;
        width: 90%;
        /* border: 1px solid red; */
        align-self: center;
        justify-self: center;
        margin-bottom: 2rem;
    }

    h1 {
        margin-top: 2rem;
    }
    .panel-section {
        /* border: 4px solid red; */
        height: 50%;
        width: 100%;
        /* padding: 2rem; */
    }
}

.border {
}
