* {
    font-family: sans-serif;
    margin: 0;
}

body {
    background-color: #99E699;
    /* background-color: #5865F2; */
}

#name {
    padding-top: 300px;
    padding-bottom: 300px;
    
    width: fit-content;
    margin: auto;
    /* padding-top: 20%; */
    font-size: 4em;
    /* padding-bottom: 25.5%; */
    /* border: 2px solid orange; */

}

.panel {
    /* background-color: #F6F6F6; */
    width: 100%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* margin: 0 ; */
    justify-content: space-around;
    justify-items: center;
    /* border: 2px solid red; */
    margin-bottom: 2rem;
    
}

.text-cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 1rem;
    width: 50%;
    /* border: 2px solid orange; */

}

h1 {
    margin-bottom: .5em;
}

img {
    /* border: 2px solid orange; */

    max-width: 50%;
    
}

/* #p5 {
    width: 50%;
} */

@media (max-width: 480px) {
    .panel {
        width: 100%;
        display: flex;
        flex-direction: column;
        /* display: block; */
        margin-bottom: 2rem;
    }
    .text-cont {
        width: 75%;
        order: 1;
    }
    img {
        order: 2;
        max-width: 100%;
        width: 75%;
    }
    #name {
        width: 100%;
        font-size: 3em;
        text-align: center;
    }
}